---
import { Icon } from 'astro-icon/components'
import Data from '../../content/general/general.json';
import NavMenu from './NavMenu.astro';
---
<header >
  <!-- Top Bar -->
  <div class="bg-gray-100 py-2 md:flex hidden ">
    <div class="container mx-auto flex justify-end items-center space-x-4 text-sm text-gray-700">
      <a href="/contact" class="hover:text-primary-400 font-medium">Contact Us</a>
      <a href="/resources" class="hover:text-primary-400 font-medium">Resources</a>
      <a href="tel:603-202-3423" class="hover:text-primary-400 font-medium">{Data.phoneNumber}</a>
      <a href="/verify-insurance" class="top-header__link header-btn">
        Verify Insurance
      </a>
    </div>
  </div>
  <!-- Main Navigation Bar -->
  <div class="bg-white py-4 shadow-md px-5">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo Section -->
      <div class="flex items-center space-x-2">
        <a href="/bn-astro-test/">
          <img src="/bn-astro-test/branding/brand-north-logo-dark.svg" alt="Company Logo" class="h-12" />
        </a>
      </div>
     <NavMenu />
    </div>
  </div>
</header>
<style>
.top-header__link.header-btn{
  @apply bg-accent-500 px-3 text-black py-1 rounded-md hover:bg-accent-400 font-medium ;
}
.dropdown__link{
  @apply text-nowrap py-3 px-4 font-medium;
}
  </style>