---
import { Icon } from "astro-icon/components";
---

<section class="download-pdf bg-[#D9D9D9] section">
    <div
        class="container !max-w-[900px] w-full flex flex-col lg:flex-row gap-5 justify-between"
    >
        <div class="flex flex-col items-start">
            <h2 class="mb-3 font-medium">Download our White Paper</h2>
            <p class="mb-5">
                Empower Your Journey, Embrace Your Potential!
            </p>
            <a
                href="#"
                class="font-semibold text-black text-2xl leading-normal underline"
                >Download now!</a
            >
        </div>
        <Icon name="download" class="w-[120px] h-[120px]" />
    </div>
</section>