---
import ImageCard from '../ui/ImageCard.astro';
const { heading, text, programs } = Astro.props.Content;
---

<section class="bg-gray-50 section">
  <div class="container flex flex-col">
    <h2 class="program-cards__heading text-center mb-8">
      {heading}
    </h2>
    </p>
    <div class="program-cards__grid">
      {programs.map((program) => (
        <ImageCard 
          title={program.title} 
          description={program.description} 
          image={program.image} 
        />
      ))}
    </div>
  </div>
</section>


<style>
  .program-cards__grid{
    @apply grid gap-8 lg:grid-cols-3;
  }
</style>