---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <section class="hero-section">
        <div class="container flex items-center justify-center flex-col gap-5">
            <h1>404 Error</h1>
            <p>Page not found The page you requested could not be found</p>
            <Button buttonText="Go to homepage" buttonLink="/bn-astro-test/" buttonClass="secondary-button" />
        </div>
    </section>
</MainLayout>
