---
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";

import GeneralData from "../content/general/general.json";
import AdmissionNextStep from "../components/AdmissionNextStep.astro";
import Form from "../components/Form.astro";
import Team from "../components/Team.astro";
import VideoModal from "../components/VideoModal.astro";
import Button from "../components/Button.astro";
import FAQ from "../components/sections/FAQ.astro";
---

<MainLayout title="Program">
    <!-- Hero Section -->

    <section class="py-28 bg-base-50">
        <div class="container program-hero__container">
            <div class="flex-none space-y-5 px-4 md:px-0 gap-5">
                <p
                    class="text-primary text-xl mb-4 flex items-center gap-1 pb-4 border-0 border-pimary border-b"
                >
                    <Icon name="location" class="h-6 w-6 text-primary" />
                    Boca Raton, FL
                </p>
                <h1 class="program-hero__heading !font-normal !leading-tight">
                    Residential Drug Detox and Treatment Center, Indiana
                </h1>
                <div class="flex gap-5 mb-4 program-hero__logo-wrapper">
                    <img
                        src="https://wordpress-881289-4850149.cloudwaysapps.com/wp-content/uploads/logoipsum-321.svg"
                        alt="logo"
                    />
                    <img
                        src="https://wordpress-881289-4850149.cloudwaysapps.com/wp-content/uploads/logoipsum-321.svg"
                        alt="logo"
                    />
                </div>
                <div
                    class="items-center gap-x-3 space-y-3 sm:flex sm:space-y-0"
                >
                    <Button
                        buttonText="Call us: 555-555-5555"
                        buttonLink="tel:5555555555"
                        buttonClass="primary-button"
                    />
                </div>
            </div>
            <div class="flex-none mt-14 md:mt-0 bg-white p-10 rounded-xl">
                <!-- Form  -->
                <Form />
            </div>
        </div>
    </section>

    <!-- About Section -->

    <section class="progra-about py-20">
        <div class="container program-content-width mx-auto px-5">
            <h2 class="mb-6 font-medium">What is Residential Rehab?</h2>
            <p class="mb-6 tex-xl leading-relaxed">
                Residential rehab is an inpatient treatment program where
                individuals receive comprehensive care to overcome physical
                dependence on substances, manage withdrawal, and address mental
                health problems through a combination of medical intervention
                and intensive therapy. At "Name of Treatment Center," we provide
                personalized residential drug rehab services, offering 24/7
                support and a structured environment to help you achieve
                long-term recovery.
            </p>
            <img
                src="https://acss.brixies.co/wp-content/uploads/2023/10/Img-placeholder-16-9-1024x577.png"
                alt=""
                class="rounded-xl mb-16"
            />
        </div>
        <div class="container program-content-width mx-auto px-5">
            <h2 class="mb-6 tex-xl leading-normal font-medium">
                Why is Residential Treatment Important?
            </h2>
            <p class="mb-6">
                Residential rehab is vital for your physical and mental health
                as it offers an environment where medical and therapeutic
                interventions can be seamlessly integrated. This type of
                treatment is particularly important for managing severe
                withdrawal symptoms and providing round-the-clock support, which
                significantly reduces the risk of relapse. Additionally,
                residential rehab addresses dual diagnosis, allowing
                simultaneous treatment of substance use disorders and
                co-occurring mental health issues. According to the National
                Institute on Drug Abuse (NIDA), comprehensive treatment programs
                that include residential rehab show higher success rates,
                improved mental health outcomes, and better long-term recovery
                prospects. By offering a holistic approach, residential
                treatments provide a foundation for sustainable well-being and
                long-term recovery.
            </p>
            <img
                src="https://acss.brixies.co/wp-content/uploads/2023/10/Img-placeholder-16-9-1024x577.png"
                alt=""
                class="rounded-xl mb-16"
            />
        </div>
    </section>

    <!-- Vidoe Section -->
    <section class="video-section py-20 bg-base-50">
        <div
            class="container mx-auto grid grid-cols-1 lg:grid-cols-2 program-container gap-20 px-5"
        >
            <div class="flex flex-col justify-center">
                <h2 class="mb-5 font-medium">Watch our video about</h2>
                <p>
                    Aliqua id fugiat nostrud irure ex duis ea quis id quis ad
                    et. Sunt qui esse pariatur duis deserunt mollit dolore
                    cillum minim tempor enim. Elit aute irure tempor cupidatat
                    incididunt sint deserunt ut.
                </p>
            </div>

            <VideoModal />
        </div>
    </section>

    <!-- Team Section -->

    <Team />

    <!-- Admission Next Steps -->

    <AdmissionNextStep />

    <!-- Value Review -->

    <section class="value-review bg-[#999]">
        <div
            class="container program-container mx-auto pt-20 lg:pb-24 pb-36 flex lg:flex-row flex-col gap-8 px-5"
        >
            <div class="max-w-lg w-full flex flex-col gap-5 items-start">
                <h2 class="font-medium">Why choose Placeholder Company?</h2>
                <p>
                    At Placeholder Company, our expert multidisciplinary team
                    and high-end treatment facilities, coupled with our
                    partnered luxury sober living experience, are meticulously
                    designed to help patients overcome the challenges of
                    addiction, trauma, and mental health issues.
                </p>
                <p>
                    We are proudly accredited with the Gold Seal of Approval
                    from The Joint Commission and CARF, affirming our unwavering
                    commitment to the highest standards of care.
                </p>

                <Button
                    buttonText="Call us: 555-555-5555"
                    buttonLink="tel:5555555555"
                    buttonClass="primary-button"
                />
            </div>
            <div class="w-full flex flex-col items-end relative">
                <img
                    src="https://acss.brixies.co/wp-content/uploads/2023/10/Img-placeholder-16-9-1024x577.png"
                    alt=""
                    class="max-w-xl rounded-xl aspect-square object-cover max-h-[500px] w-full"
                />

                <div
                    class="p-5 border border-light w-full max-w-[300px] absolute left-0 top-[2rem]"
                >
                    <div class="flex flex-col bg-white p-5">
                        <div class="pb-8 border-b border-[rgba(0, 0, 0, 0.20]">
                            <div class="flex mb-2">
                                <Icon name="star" class="w-6 h-6" />
                                <Icon name="star" class="w-6 h-6" />
                                <Icon name="star" class="w-6 h-6" />
                                <Icon name="star" class="w-6 h-6" />
                                <Icon name="star" class="w-6 h-6" />
                            </div>
                            <p>
                                “Placeholder Company has been very helpful and
                                supportive in my journey. The staff are
                                wonderful and very helpful in all aspects.” -
                                Matt W.
                            </p>
                        </div>
                        <div class="pt-8">
                            <div class="flex mb-2">
                                <Icon name="star" class="w-6 h-6" />
                                <Icon name="star" class="w-6 h-6" />
                                <Icon name="star" class="w-6 h-6" />
                                <Icon name="star" class="w-6 h-6" />
                                <Icon name="star" class="w-6 h-6" />
                            </div>
                            <p>
                                “Placeholder Company has been very helpful and
                                supportive in my journey. The staff are
                                wonderful and very helpful in all aspects.” -
                                Matt W.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Download PDF Section -->

    <section class="download-pdf bg-[#D9D9D9]">
        <div
            class="container mx-auto max-w-[900px] w-full px-5 py-24 flex flex-col lg:flex-row gap-5 justify-between"
        >
            <div class="flex flex-col items-start">
                <h2 class="mb-3 font-medium">Download our White Paper</h2>
                <p class="mb-5">
                    Empower Your Journey, Embrace Your Potential!
                </p>
                <a
                    href="#"
                    class="font-semibold text-black text-2xl leading-normal underline"
                    >Download now!</a
                >
            </div>
            <Icon name="download" class="w-[120px] h-[120px]" />
        </div>
    </section>

    <!-- What We Treat -->
    <section class="program_what-we-treat">
        <div class="container program-content-width mx-auto py-28 px-5">
            <h2 class="font-medium mb-8">
                What is the Treatment Process During Residential Rehab at "Name
                of Treatment Center"?
            </h2>
            <p class="mb-8">
                The process of treatment at “Name of Treatment Center” involves
                comprehensive steps tailored to address each individual’s needs
                and help them overcome substance use disorders effectively. The
                process that we follow for inpatient rehab at “Name of Treatment
                Center” includes:
            </p>
            <ul class="content-ul">
                <li>
                    <strong>Initial Assessment: </strong>A thorough evaluation
                    of the individual’s substance use history, mental health
                    conditions, and physical health to create a personalized
                    treatment plan.
                </li>
                <li>
                    <strong>Initial Assessment: </strong>A thorough evaluation
                    of the individual’s substance use history, mental health
                    conditions, and physical health to create a personalized
                    treatment plan.
                </li>
                <li>
                    <strong>Initial Assessment: </strong>A thorough evaluation
                    of the individual’s substance use history, mental health
                    conditions, and physical health to create a personalized
                    treatment plan.
                </li>
                <li>
                    <strong>Initial Assessment: </strong>A thorough evaluation
                    of the individual’s substance use history, mental health
                    conditions, and physical health to create a personalized
                    treatment plan.
                </li>
            </ul>
        </div>
    </section>

    <!-- Program -->

    <section class="py-20 bg-base-50">
        <div class="container program-content-width mx-auto px-5">
            <img
                src="https://acss.brixies.co/wp-content/uploads/2023/10/Img-placeholder-16-9-1024x577.png"
                alt=""
                class="rounded-xl mb-8"
            />
            <h2 class="mb-6 font-medium">
                Which Substances are Treated During Residential Rehab?
            </h2>
            <p class="mb-6 tex-xl leading-relaxed">
                The substances treated during the residential rehab program at
                "Name of Treatment Center" include a wide variety of addictive
                substances that contribute to substance use disorders and
                co-occurring mental health conditions. The drugs that are
                treated during the residential rehab program at "Name of
                Treatment Center" in [State] include:
            </p>
            <p class="mb-4 leading-relaxed">
                <strong>Alcohol:</strong> Treatment for alcohol addiction often includes
                medical detoxification to manage withdrawal symptoms, followed by
                a combination of individual and group therapy sessions to address
                behavioral patterns and mental health conditions associated with
                alcoholism. According to the National Institute on Alcohol Abuse
                and Alcoholism (NIAAA), structured therapeutic approaches and medications
                like naltrexone can significantly aid in recovery.
            </p>
            <p class="mb-4 leading-relaxed">
                <strong>Opioids:</strong> Opioid addiction treatment usually begins
                with medical detoxification using medications like methadone or buprenorphine
                to reduce withdrawal symptoms and cravings. This is followed by comprehensive
                therapies such as cognitive-behavioral therapy (CBT) and contingency
                management to treat both the addiction and any co-occurring mental
                health issues. Research by the National Institute on Drug Abuse (NIDA)
                indicates that medication-assisted treatment (MAT) is effective in
                improving outcomes for individuals with opioid use disorder.
            </p>
            <p class="mb-10 leading-relaxed">
                <strong>Benzodiazepines:</strong> Benzodiazepine dependence requires
                a carefully monitored tapering process to safely reduce the dosage
                and prevent severe withdrawal symptoms. Therapeutic interventions
                often include behavioral therapies and counseling to address the
                psychological aspects of addiction. Medical intervention is critical,
                as outlined in research published in the Journal of Addiction Medicine,
                due to the potential severity of benzodiazepine withdrawal. At "Name
                of Treatment Center", our treatment strategies are tailored to each
                substance. We combine medical interventions to manage physical dependence
                and withdrawal symptoms with comprehensive therapeutic approaches
                to tackle the underlying psychological and behavioral issues contributing
                to addiction.
            </p>

            <div
                class="program-cta py-8 flex flex-col gap-5 justify-center items-center border-dashed border-2 border-black rounded-2xl"
            >
                <h3 class="text-center">
                    Would you like to learn more about Residential Rehab?
                </h3>
                <div class="flex gap-5">
                    <Button
                        buttonText="call us"
                        buttonLink="#"
                        buttonClass="white-button"
                    />
                    <Button
                        buttonText="Email us"
                        buttonLink="#"
                        buttonClass="primary-button"
                    />
                </div>
            </div>
        </div>
    </section>

    <!-- Program Cards -->

    <section>
        <div class="container program-content-width mx-auto px-5 py-20">
            <h2 class="font-medium mb-10">
                What Therapies are Included in the Residential Drug Treatment
                Program at The Placeholder Company ?
            </h2>
            <p class="mb-5">
                The therapies that are included in the residential drug
                treatment program at The Placeholder Company  are designed to
                address a range of issues, including addiction, mental health
                conditions such as depression and anxiety, and other psychiatric
                disorders like PTSD. Therapies that are available in the
                residential drug treatment program at The Placeholder Company 
                are given below:
            </p>
            <h3 class="mb-5 text-4xl">1. Individual Counseling:</h3>
            <p class="mb-5">
                One-on-one sessions focused on personal issues, recovery goals,
                and coping strategies.
            </p>
            <h3 class="mb-5 text-4xl">2. Group Counseling:</h3>
            <p class="mb-5">
                Peer-based support groups that provide a sense of community and
                shared experiences.
            </p>

            <h3 class="mb-5 text-4xl">3. Drug and Alcohol Seminars:</h3>

            <p class="mb-5">
                Educational sessions that offer insights into addiction, its
                effects, and strategies for long-term recovery.
            </p><h3 class="mb-5 text-4xl">4. Wellness Groups:</h3>
            <p class="mb-5">
                Activities and discussions aimed at promoting overall
                well-being, such as mindfulness, nutrition, and physical
                exercise.
            </p>
            <h3 class="mb-5 text-4xl">5. Family Therapy:</h3>
            <p class="mb-5">
                Sessions that involve family members to address relational
                issues and create a supportive home environment for recovery.
                These therapies collectively help individuals tackle not just
                the substance use disorder but also co-occurring mental health
                conditions like depression, anxiety, and PTSD, ensuring a
                comprehensive approach to recovery.
            </p>
        </div>
    </section>

    <!-- Amenities Section -->

    <section class="bg-base-50">
        <div class="container mx-auto program-content-width py-20 px-5">
            <h2 class="mb-5">
                What Amenities Does the Residential Treatment Provide at The
                Grove Estate?
            </h2>
            <p class="mb-5">
                The amenities that we provide at The Grove Estate are designed
                to create a comfortable, supportive, and therapeutic environment
                that fosters recovery. Our high-quality living spaces offer a
                serene and homely atmosphere where individuals can feel safe and
                relaxed. We also have dedicated therapeutic spaces for
                counseling and group sessions, ensuring privacy and comfort
                during treatment. Our recreational areas are equipped with
                facilities for physical activities, such as yoga, gym sessions,
                and outdoor sports, which are integral in promoting physical
                health and well-being. Additionally, our center includes
                amenities that support holistic therapies like art and music
                therapy, further enriching the treatment experience. These
                services benefit patients with substance abuse disorder by
                providing an enriching, positive environment that aids in mental
                and emotional healing. A well-structured and tranquil setting
                helps reduce stress and anxiety, which are common during detox
                and recovery. According to a study published in the Journal of
                Substance Abuse Treatment, patients in residential detox
                programs with access to stimulating and positive environments
                exhibit improved mental health outcomes and reduced relapse
                rates. By integrating comprehensive amenities into our
                residential treatment program, we ensure that our patients
                receive well-rounded care that supports all facets of their
                recovery journey.
            </p>
            <img src="https://acss.brixies.co/wp-content/uploads/2023/10/Img-placeholder-16-9-1024x577.png" alt="" class="w-full max-h-[430px] rounded-xl object-cover" >
        </div>
    </section>

    <!-- FAQs -->
    <FAQ />

    <!-- Other Treatment Section -->

    <section class="bg-[#6D6D6D]">
        <div class="container mx-auto px-5 py-20">
            <div class="flex flex-row justify-between items-center mb-6">
                <h2 class="text-white font-medium">Other Treatments</h2>
                <Button 
                buttonText="View all"
                buttonLink="#"
                buttonClass="transparent-button"
                />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <div class="program__treatment-card flex flex-col gap-6">
                    <img src="https://acss.brixies.co/wp-content/uploads/2023/10/Img-placeholder-16-9-1024x577.png" alt="" class="rounded-xl object-cover aspect-square ">
                    <h3 class="text-3xl text-white font-normal leading-relaxed">Shopping Addiction Treatment In Los Angeles</h3>
                    <a href="#" class="tex-black font-bold text-base">Read more</a>
                </div>
                <div class="program__treatment-card flex flex-col gap-6">
                    <img src="https://acss.brixies.co/wp-content/uploads/2023/10/Img-placeholder-16-9-1024x577.png" alt="" class="rounded-xl object-cover aspect-square ">
                    <h3 class="text-3xl text-white font-normal leading-relaxed">Shopping Addiction Treatment In Los Angeles</h3>
                    <a href="#" class="tex-black font-bold text-base">Read more</a>
                </div>
                <div class="program__treatment-card flex flex-col gap-6">
                    <img src="https://acss.brixies.co/wp-content/uploads/2023/10/Img-placeholder-16-9-1024x577.png" alt="" class="rounded-xl object-cover aspect-square ">
                    <h3 class="text-3xl text-white font-normal leading-relaxed">Shopping Addiction Treatment In Los Angeles</h3>
                    <a href="#" class="tex-black font-bold text-base">Read more</a>
                </div>
            </div>
        </div>
    </section>

</MainLayout>

<style>
    .program-hero__heading {
        @apply text-4xl text-gray-800  md:text-5xl leading-relaxed;
    }

    .program-hero__heading,
    .program-hero__logo-wrapper {
        margin-bottom: 40px !important;
    }

    .program-hero__container {
        @apply grid mx-auto md:grid-cols-1 xl:grid-cols-2 gap-10 px-5;
    }
    .program-hero__container,
    .program-container {
        max-width: 1300px;
    }

    .program-content-width {
        width: 100%;
        max-width: 900px;
    }
    ul.content-ul {
        list-style: none;
        padding-inline-start: 0;
        margin: 0;
    }
    ul.content-ul li {
        @apply text-xl mb-5 leading-relaxed;
    }
    ul.content-ul li:before {
        content: "\2713"; /* Checkmark icon */
        @apply w-4 m-0 inline-block font-bold;
    }
</style>
