---
const { buttonLink, buttonText, buttonClass } = Astro.props;
---

<a href={buttonLink} class={buttonClass}>{buttonText}</a>

<style>
/* Primary button */
.primary-button {
    @apply bg-primary-500 text-white border border-primary-500;
}
.primary-button:hover {
    background-color: rgb(0 0 0 / 71%);
}

/* Secondary Button */

.secondary-button {
    @apply bg-accent-500 text-black border border-accent-500;
}
.secondary-button:hover {
    background-color: rgb(0 0 0 / 71%);
    border-color: rgb(0 0 0 / 71%);
    @apply text-white ;
}

/* Outline Button */
.outline-button{
    @apply bg-white text-black border border-black;
}
.outline-button:hover {
    background-color: rgb(0 0 0 / 71%);
}

/* White button */
.white-button {
    @apply text-black bg-white;
}
.white-button:hover {
    background-color: #ffffffbd;
}

/* Transparent button */
.transparent-button {
    border: 1px solid white;
    @apply rounded-lg text-white;
}

.primary-button,
.white-button,
.transparent-button,
.outline-button,
.secondary-button {
    @apply py-4 px-8 transition-all duration-300 leading-none  text-center rounded-md;
}
</style>
