<section class="call-to-action py-16 bg-primary-600">
    <div class="container mx-auto px-4">
      <div class="call-to-action__content bg-primary-500 p-10 rounded-lg text-center">
        <h2 class="call-to-action__heading text-white  mb-6">
          Start Your Journey To Recovery Today
        </h2>
        <p class="call-to-action__text text-white mx-auto mb-8">
          Are you or a loved one struggling with addiction? Discover Health Group is here to help you take the first step towards a healthier, happier life. Our compassionate team is ready to support you through every stage of your recovery journey. Contact us today to learn more about our programs, schedule a visit, or start the admissions process. Your path to recovery begins here.
        </p>
        <a href="#" class="call-to-action__button bg-accent-500 text-black py-3 px-8 rounded-md font-bold">
          CONTACT US
        </a>
      </div>
    </div>
  </section>
  