---
import Accordion from '../components/Accordion.astro';
---

<section class="faq-section py-16">
  <div class="container flex flex-col gap-12 justify-center mx-auto max-w-5xl px-4">
    <h2 class="text-center">Frequently Asked Questions</h2>
    <div class="accordion flex flex-col gap-2 min-w-full">
        <Accordion title="What is Medication-Assisted Treatment?" details="Medication-Assisted Treatment (MAT) involves using medication, along with counseling and behavioral therapies, to treat substance use disorders." />
        <Accordion title="How does Sober Living Placement work?" details="Sober Living Placement helps individuals find safe and supportive housing environments where they can continue their recovery journey." />
        <Accordion title="What services are included in Case Management?" details="Case Management includes resume building, job search assistance, accessing community resources, and more." />
    </div>
  </div>
</section>
