---
import { Image } from "@unpic/astro";
---

<section class="insurance-options py-16 bg-gray-100">
    <div class="container flex flex-col items-center gap-4 mx-auto px-4 text-center">
      <h2 class="insurance-options__heading mb-4">Insurance Options</h2>
      <p class="insurance-options__description mb-12">
        Brand North accepts most major insurance plans and offers flexible, affordable self-pay options to accommodate different financial situations.
      </p>
  
      <!-- Logo Grid -->
      <div class="insurance-options__grid flex flex-row flex-wrap justify-center sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 mb-8">
        
        <!-- Logo 1 -->
        <div class="insurance-logo">
          <Image src="/bn-astro-test/imgs/logoipsum.png" alt="Insurance Logo 1" class="mx-auto" />
        </div>
  
        <!-- Logo 2 -->
        <div class="insurance-logo">
          <Image src="/bn-astro-test/imgs/logoipsum.png" alt="Insurance Logo 2" class="mx-auto" />
        </div>
  
        <!-- Logo 3 -->
        <div class="insurance-logo">
          <Image src="/bn-astro-test/imgs/logoipsum.png" alt="Insurance Logo 3" class="mx-auto" />
        </div>
  
        <!-- Logo 4 -->
        <div class="insurance-logo">
          <Image src="/bn-astro-test/imgs/logoipsum.png" alt="Insurance Logo 4" class="mx-auto" />
        </div>
  
        <!-- Logo 5 -->
        <div class="insurance-logo">
          <Image src="/bn-astro-test/imgs/logoipsum.png" alt="Insurance Logo 5" class="mx-auto" />
        </div>
  
        <!-- Logo 6 -->
        <div class="insurance-logo">
          <Image src="/bn-astro-test/imgs/logoipsum.png" alt="Insurance Logo 6" class="mx-auto" />
        </div>
  
        <!-- Logo 7 -->
        <div class="insurance-logo">
          <Image src="/bn-astro-test/imgs/logoipsum.png" alt="Insurance Logo 7" class="mx-auto" />
        </div>
  
        <!-- Logo 8 -->
        <div class="insurance-logo">
          <Image src="/bn-astro-test/imgs/logoipsum.png" alt="Insurance Logo 8" class="mx-auto" />
        </div>
  
        <!-- More Indicator -->
        <div class="insurance-logo text-white text-left flex justify-center p-4">
          <span class="text-xl font-bold">+38<br />MORE</span>
        </div>
      </div>
  
      <!-- Call to Action -->
      <a href="#" class="insurance-options__button bg-accent-500 text-black py-3 px-8 rounded-md font-bold">
        CALL US
      </a>
    </div>
  </section>

  <style>
    .insurance-logo{
        @apply p-4 bg-primary-500 rounded-md content-center;
    }
  </style>
  