---
import TeamCard from "./TeamCard.astro";
---

<section class="py-14">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8">
        <div class="max-w-xl mx-auto sm:text-center">
            <h3 class="text-gray-800 text-3xl font-semibold sm:text-4xl">
                Our team
            </h3>
            <p class="text-gray-600 mt-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown.
            </p>
        </div>
        <div class="mt-12">
            <ul class="grid gap-8 sm:grid-cols-2 md:grid-cols-3">
                <TeamCard 
                Name="Emily Rodriguez, LCSW"
                Designation="Founder and Managing Partner" 
                Image="https://wordpress-881289-4850149.cloudwaysapps.com/wp-content/uploads/vecteezy_default-avatar-profile-icon-grey-photo-placeholder-for_-1-1024x1024.jpg"
                />
                <TeamCard 
                Name="Jenna Moulton"
                Designation="Chief Executive Officer" 
                Image="https://wordpress-881289-4850149.cloudwaysapps.com/wp-content/uploads/vecteezy_default-avatar-profile-icon-grey-photo-placeholder-for_-1-1024x1024.jpg"
                />
                <TeamCard 
                Name="Sheena Bice"
                Designation="Clinical Director" 
                Image="https://wordpress-881289-4850149.cloudwaysapps.com/wp-content/uploads/vecteezy_default-avatar-profile-icon-grey-photo-placeholder-for_-1-1024x1024.jpg"
                />
            </ul>
        </div>
    </div>
</section>
